# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\php-laravel-projects\laravel-php-final-odev\php-laravel-final-odev\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
